.container {
	background-color: #121212;
	text-align: center;
}
#Heading {
	margin: 0;
	padding: 0.5rem;
	background-color: #f5c518;
	font-weight: 500;
	font-size: 1.5rem;
	color: black;
	text-align: left;
}
.buttons {
	width: 99%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2px 2px 1rem 2px;
}
.buttons button {
	width: 50%;
	font-size: 1.3rem;
	font-weight: 600;
	padding: 1.5rem 0;
}
.buttons button:hover {
	transform: translateY(-5px);
	transition: all 0.3s ease-in-out;
}
.active {
	color: #fff;
}
button {
	background: none;
	border: none;
	color: rgba(255, 255, 255, 0.487);
	cursor: pointer;
}
form {
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
}
form input {
	width: 25vw;
	max-width: 240px;
	margin: 0.3rem 1rem;
	padding: 0.8rem;
	border-radius: 24px;
	font-size: 1.2rem;
}

#submitBtn {
	background-color: #f5c518f2;
	max-width: 150px;
}
#submitBtn:hover {
	cursor: pointer;
	transform: translateY(-5px);
	transition: all 0.3s ease-in-out;
	background-color: #f5c518;
	outline: 1px solid #f5c518f2;
}
.pagination span {
	color: #f5c518;
}
.pagination button {
	border-radius: 12px;
	font-size: 16px;
	padding: 0.5rem;
	margin: 0.5rem;
}
.pagination button:hover {
	color: #f5c518;
	transform: translateY(-3px);
	transition: all 0.3s ease-in-out;
	outline: 1px solid #f5c518;
}
@media screen and (max-width: 860px) {
	form {
		flex-direction: column;
		align-items: center;
	}
	form input {
		width: 100%;
	}
}
