.cardContainer {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	margin: 1rem;
}
.card {
	margin: 1rem;
	display: flex;
	flex-direction: column;
	text-align: left;
	background-color: #1a1a1a;
	border: 2px solid #1a1a1a;
	border-radius: 12px;
	overflow: hidden;
	position: relative;
}
.card:hover {
	cursor: none;
	transform: scale(1.05);
	transition: all 0.3s ease-in-out;
}
.card_img {
	display: flex;
	justify-content: center;
}
.card_img img {
	width: 100%;
}
.card_body {
	padding: 1rem;
}
.card_body h3 {
	margin: 0 0 1rem 0;
}
.card_body p {
	margin: 0;
	font-weight: 200;
	position: absolute;
	right: 10px;
	bottom: 10px;
}

@media screen and (max-width: 1200px) {
	.cardContainer {
		grid-template-columns: 33% 34% 33%;
	}
}
@media screen and (max-width: 784px) {
	.cardContainer {
		grid-template-columns: 50% 50%;
	}
}
@media screen and (max-width: 480px) {
	.cardContainer {
		grid-template-columns: 100%;
	}
}
@media screen and (min-width: 1440px) {
	.cardContainer {
		margin: 1vw;
	}
	.card {
		margin: 1vw;
	}
	.card_body {
		padding: 2rem;
	}
	.card_body h3 {
		margin: 0 0 1vw 0;
		font-size: 1.4vw;
	}
	.card_body p {
		font-size: 1.1vw;
	}
}
