.cardContainer {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	margin: 1rem;
}
.card {
	/* width: 250px; */
	/* min-height: 100px; */
	margin: 1rem;
	display: flex;
	flex-direction: column;
	text-align: left;
	background-color: #1a1a1a;
	border-radius: 8px;
	position: relative;
}
.card:hover {
	cursor: pointer;
	outline: 2px solid #f5c518;
	transform: scale(1.1);
	transition: all 0.3s ease-in-out;
}
.card_body h3 {
	margin: 0 0 1rem 0;
}
.card_body p {
	margin: 0;
	font-weight: 200;
}
.card_body p {
	position: absolute;
	right: 10px;
	bottom: 10px;
}
.card_body {
	padding: 1rem;
}
.modal {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: black;
}
@media screen and (max-width: 1200px) {
	.cardContainer {
		grid-template-columns: 33% 33% 33%;
	}
}

@media screen and (max-width: 860px) {
	.cardContainer {
		grid-template-columns: 50% 50%;
	}
}
@media screen and (max-width: 560px) {
	.cardContainer {
		grid-template-columns: 100%;
	}
}
@media screen and (min-width: 1440px) {
	.cardContainer {
		margin: 1vw;
	}
	.card {
		margin: 1vw;
	}
	.card_body {
		padding: 2rem;
	}
	.card_body h3 {
		margin: 0 0 1vw 0;
		font-size: 1.4vw;
	}
	.card_body p {
		font-size: 1.1vw;
	}
}
